{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %} 
<div class="card col d-flex  justify-content-center" style="width: 18rem; align-item:center; margin-left:600px; margin-top:25px;">
  <img src="/static/img/Image-1978.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Baibhav</h5>
    <p class="card-text">A programming enthusiast who want to learn and explore something new always and always available to work</p>
    <a href="https://www.facebook.com/baibhav.mishra.5/" target="_blank" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/_myst_02/"  target="_blank" class="btn btn-primary"><i class="fa fa-instagram"></i></a>
    <a href="https://github.com/baibhav3211" target="_blank" class="btn btn-primary"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/baibhav-mishra-90211a197/" target="_blank" class="btn btn-primary"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
{% endblock body %}